---
const { name, description, slug } = Astro.props;
---

<a href={`/tools/${slug}`}>
	<article class='flex flex-col gap-2 w-full'>
		<h3 class='text-base font-medium'>{name}</h3>
		<p class='text-gray-500 font-medium text-sm'>
			{description}
		</p>
	</article>
</a>

