---
import Heading from '../../components/Heading.astro';
import HelloLayout from '../../layouts/HelloLayout.astro';

function printHello(){
    console.log('hello world');
}
---

<HelloLayout>
    <h1>Hello Sanju</h1>
    <Heading title="Hello Sanju from sece" description="this is description" date="11th" onclick={printHello} />
</HelloLayout>