---
import type { HTMLAttributes } from 'astro/types';
import { clsx } from '../../utils/utils.ts';

type Props = HTMLAttributes<'a'>;

const { href, class: className, ...props } = Astro.props;

const { pathname } = Astro.url;
const subpath = pathname.match(/[^\/]+/g);
const isActive = href === pathname || href === '/' + subpath?.[0];
---

<a href={href} class={clsx('font-medium', isActive ? 'text-black' : 'text-gray-400')} {...props}>
	<slot />
</a>