---
import type { HTMLAttributes } from 'astro/types';
import { clsx } from '../../utils/utils.ts';

type Props = HTMLAttributes<'a'>;

const { href, class: className, ...props } = Astro.props;

const { pathname } = Astro.url;
const subpath = pathname.match(/[^\/]+/g);
const isActive = href === pathname || href === '/' + subpath?.[0];
---

<a href={href} class={clsx('hover:text-black hover:font-medium',isActive ? 'text-black font-medium' : 'text-gray-400 font-medium')} {...props}>
	<slot />
</a>