---
import HeaderLink from './header-link.astro';
---

<div class="flex flex-row gap-3 font-medium text-black items-start w-full">
<HeaderLink href="/">home</HeaderLink>
<HeaderLink href="/writings">writings</HeaderLink>
<HeaderLink href="/thoughts">thoughts</HeaderLink>
</div>