---
import HeaderLink from './header-link.astro';
import ThemeSwitcher from './theme-switcher.astro';
import { menuItems } from '@data/index';
---

<div class='flex flex-row justify-between items-center w-full'>



<div class='flex flex-row gap-3 font-medium text-black items-start'>
		{
			menuItems.map((item) => (
				<HeaderLink href={item.url}>{item.label}</HeaderLink>
			))
		}
	</div>
	<ThemeSwitcher />
</div>
