---
import { getCollection } from 'astro:content';
import { Header } from '@components/misc';
import { BaseHead } from '@components/seo';
import { SITE_TITLE } from '@data/index';
import { SITE_DESCRIPTION } from '@data/index';
import RootLayout from '@layouts/root-layout.astro';
import { clsx } from '@utils/index';

const whoami = await getCollection('whoami');
const whoamiData = whoami[0].data; // Get the first item from the collection
const { title, description } = whoamiData;
const { Content } = await whoami[0].render();
---

<!doctype html>
<html lang='en'>
	<head>
		<BaseHead
			title={SITE_TITLE}
			description={SITE_DESCRIPTION}
			image='/images/ogimage.png'
		/>
	</head>

	<RootLayout>
		<div
			id='navbar+title'
			class='flex flex-col w-full gap-6 max-w-xl'>
			<Header />
			<h1
				class='w-full text-start text-[min(12vw,72px)] font-medium leading-[0.9] tracking-[-2px] sm:tracking-[-4px]'>
				{title}
			</h1>
			<span class='sr-only'> {description} </span>
			<div
				class={clsx(
					'w-full prose prose-lg my-3 prose-p:font-medium dark:prose-invert prose-a:underline prose-a:bg-amber-50 prose-a:decoration-amber-500 items-center justify-center',
					'dark:prose-a:bg-amber-950 dark:prose-a:decoration-amber-400 dark:prose-a:underline',
					'prose-h1:font-medium prose-h2:font-medium prose-h3:font-medium prose-h4:font-medium prose-h5:font-medium prose-h6:font-medium',
					'prose-h1:tracking-tight prose-h2:tracking-tight prose-h3:tracking-tight prose-h4:tracking-tight prose-h5:tracking-tight prose-h6:tracking-tight',
					'prose-ul:font-medium prose-ol:font-medium prose-li:font-medium',
					'prose-ul:space-y-2 prose-ol:space-y-3 prose-li:space-y-3'
				)}>
				<Content />
			</div>
		</div>
	</RootLayout>
</html>
