---
import FormattedDate from './FormattedDate.astro';

const {title, date, slug} = Astro.props;
---
<a href={`/blog/${slug}`}>
<article class="flex flex-row items-center justify-between w-full">
    <h3 class="text-base text-black">{title}</h3>
    <p class="text-gray-500">
        <FormattedDate date={date} />
    </p>
</article>
</a>